@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efeeee;
  --foreground: #171717;
  --primary-color: #123e14; 
  --secondary-color: #c8c6c6; 
  --accent-color: #05c94d;
  --background-color: #F5F5F5;
  --second-background-color: #dedede;
  --text-color: #313030;
  
}


@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #F5F5F5;
    --foreground: #ededed;
    --primary-color: #173395;
    --secondary-color: #5e5d5d; 
    --accent-color: #DAA520; 
    --background-color: #1E1E1E;
    --second-background-color: #080120;
    --text-color: #FFFFFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Cairo', sans-serif;
}

html {
  @apply h-full;
}
body {
  @apply h-full;
}
div#__next {
  @apply h-full;
}
main {
  @apply h-full;
}


h1, h2, h3 {
  color: var(--primary-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}